<div class="contenido" class="mat-typography">
        <div class="cabecera" [style.backgroundColor]="colorBarraSuperior" [style.color]="colorLetrasTitulo" mat-dialog-title>
            <i class="iconshock-iphone-business-filter"></i>
            <span class="tituloDialogo">Formato de la gráfica</span>
        </div>
        <div class="registroCampo" [ngStyle]="{'border': '1px solid' + colorSN}" >        
            <div class="cajaEstatus" [ngStyle]="{'border': '1px solid' + colorSN}" [style.marginTop.px]="10">
            <div class="registroTitulo" [style.backgroundColor]="colorFondoTarjeta">1. Título del gráfico</div>    
                <mat-form-field class="texto">
                    <input matInput #txtNombre [(ngModel)]="detalleRegistro.titulo" maxlength="100" autocomplete="off" name="titulo" required #titulo="ngModel">
                    <button mat-button *ngIf="detalleRegistro.titulo" matSuffix mat-icon-button aria-label="Clear" (click)="detalleRegistro.titulo = ''">
                        <mat-icon>close</mat-icon>
                    </button>
                    <mat-hint class="pista" align="end">{{ titulo.value?.length || 0 }} de 100</mat-hint>
                </mat-form-field>                            
            </div>
            <div class="cajaEstatus" [ngStyle]="{'border': '1px solid' + colorSN}" [style.marginTop.px]="10">
                <div class="registroTitulo" [style.backgroundColor]="colorFondoTarjeta">2. Subtítulo del gráfico</div>    
                <mat-form-field class="texto">
                    <input matInput #txtNombre [(ngModel)]="detalleRegistro.sub_titulo" maxlength="100" autocomplete="off" name="sub_titulo" required #sub_titulo="ngModel">
                    <button mat-button *ngIf="detalleRegistro.sub_titulo" matSuffix mat-icon-button aria-label="Clear" (click)="detalleRegistro.sub_titulo = ''">
                        <mat-icon>close</mat-icon>
                    </button>
                    <mat-hint class="pista" align="end">{{ sub_titulo.value?.length || 0 }} de 100</mat-hint>
                </mat-form-field>                            
            </div>
            <div class="cajaEstatus" [ngStyle]="{'border': '1px solid' + colorSN}">
                <div class="registroTitulo" [style.backgroundColor]="colorFondoTarjeta">3. Eje de las Xs</div>    
                <mat-form-field class="texto">
                    <input matInput #txtNombre [(ngModel)]="detalleRegistro.texto_x" maxlength="100" autocomplete="off" name="texto_x" required #texto_x="ngModel">
                    <button mat-button *ngIf="detalleRegistro.nombre" matSuffix mat-icon-button aria-label="Clear" (click)="detalleRegistro.texto_x = ''">
                        <mat-icon>close</mat-icon>
                    </button>
                    <mat-hint class="pista" align="end">{{ texto_x.value?.length || 0 }} de 100</mat-hint>
                </mat-form-field>                            
            </div>
            <div class="cajaEstatus" [ngStyle]="{'border': '1px solid' + colorSN}">
                <div class="registroTitulo" [style.backgroundColor]="colorFondoTarjeta">4. Eje de las Ys</div>    
                <mat-form-field class="texto">
                    <input matInput #txtNombre [(ngModel)]="detalleRegistro.texto_y" maxlength="100" autocomplete="off" name="texto_y" required #texto_y="ngModel">
                    <button mat-button *ngIf="detalleRegistro.texto_y" matSuffix mat-icon-button aria-label="Clear" (click)="detalleRegistro.texto_y = ''">
                        <mat-icon>close</mat-icon>
                    </button>
                    <mat-hint class="pista" align="end">{{ texto_y.value?.length || 0 }} de 100</mat-hint>
                </mat-form-field>                            
            </div>
            <div class="cajaEstatus" [ngStyle]="{'border': '1px solid' + colorSN}">
                <div class="registroTitulo" [style.backgroundColor]="colorFondoTarjeta">5. Eje de las Zs (si aplica)</div>    
                <mat-form-field class="texto">
                    <input matInput #txtNombre [(ngModel)]="detalleRegistro.texto_z" maxlength="100" autocomplete="off" name="texto_z" required #texto_z="ngModel">
                    <button mat-button *ngIf="detalleRegistro.texto_z" matSuffix mat-icon-button aria-label="Clear" (click)="detalleRegistro.texto_z = ''">
                        <mat-icon>close</mat-icon>
                    </button>
                    <mat-hint class="pista" align="end">{{ texto_z.value?.length || 0 }} de 100</mat-hint>
                </mat-form-field>                            
            </div>
            <div class="cajaEstatus" [ngStyle]="{'border': '1px solid' + colorSN}">
                <div class="registroTitulo" [style.backgroundColor]="colorFondoTarjeta">6. Especificar los valores a graficar</div>    
                <mat-form-field class="texto">
                    <mat-select multiple #lstProcesos [(ngModel)]="seleccionProcesos" name="seleccionProcesos" [disabled]="detalleRegistro.admin=='S'">
                        <mat-option value="1">Todos</mat-option>
                        <mat-option value="2">OK</mat-option>
                        <mat-option value="3">Demorados</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>

            <div class="cajaEstatus" [ngStyle]="{'border': '1px solid' + colorSN}">
                <div class="registroTitulo" [style.backgroundColor]="colorFondoTarjeta">7. Visualizar la leyenda</div>    
                <mat-form-field class="texto">
                    <mat-select [(ngModel)]="detalleRegistro.mostrar_tabla" name="mostrar_tabla">
                        <mat-option value="S">Si</mat-option>
                        <mat-option value="N">No</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
        </div>
    
        <div class="pie" mat-dialog-actions>
            <button type="submit" class="indice" [style.borderColor]="colorBorde" [style.backgroundColor]="colorFondoBoton" mat-button (click)="validar(1)">
                <i class="iconshock-materialblack-general-diskette"></i>
                <span class="indiceTexto">Aplicar</span>
            </button>
            <button type="submit" class="indice" [style.borderColor]="colorBorde" [style.backgroundColor]="colorFondoBoton" mat-button (click)="validar(3)">
                <i class="iconshock-materialblack-general-reload"></i>
                <span class="indiceTexto">Cancelar</span>
            </button>
        </div>
    </div>
    
